/* A little protection against spam */
/* Write email adress in reversed order and in a <span class="bot"> tag. */
.bot {
	unicode-bidi: bidi-override;
	direction: rtl;
  text-align: left;
}


/* All fonts are published under the SIL Open Font License, 1.1

/* Local repo of https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface in order to prevent using googleapis.com
* only latin and latin-ext is included */

/* pt-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/pt-sans/pt-sans-v9-latin-ext_latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* abril-fatface-regular - latin-ext_latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
       url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

/* Local repo of http://fonts.googleapis.com/css?family=EB+Garamond in order to prevent using googleapis.com
* only latin and latin-ext is included */

/* eb-garamond-regular - latin-ext_latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/abril-fatface/abril-fatface-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
       url('../css/fonts/abril-fatface/eb-garamond-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../css/fonts/abril-fatface/eb-garamond-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/abril-fatface/eb-garamond-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../css/fonts/abril-fatface/eb-garamond-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/abril-fatface/eb-garamond-v9-latin-ext_latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
